@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;600;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
}

* a {
  text-decoration: none;
}

* li {
  list-style: none;
}

html {
  --color-primary: #fbfbfb;
  --color-secondary: #db162f;
  --color-text-primary: #2c2c24;
  --color-accent: #add8e6;
  --color-accent-secondary: #d3d3d3;
}

html[data-theme="dark"] {
  --color-primary: #2d3748;
  --color-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-accent: #81e6d9;
  --color-accent-secondary: #f5f5f5;
}

.body {
  background-color: var(--color-secondary);
}

* button {
  cursor: pointer;
  padding: 8px;
  border-radius: 4px;
  color: var(--color-primary);
  font-weight: 600;
  background-color: var(--color-secondary);
}

* button:hover {
  background-color: var(--color-accent);
}

/*Smooth transition between light/dark mode*/
html.transition,
html.transition *,
html.transition *:before,
html.transition *:after {
  transition: all 1000ms !important;
  transition-delay: 0 !important;
}
