.form__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  align-items: center;
  border: 1px solid var(--color-text-primary);
  border-radius: 5px;
  background-color: var(--color-primary);
  margin-bottom: 5em;
}

.form__container input {
  border: 1px solid var(--color-text-primary);
}

label {
  font-weight: bolder;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  color: var(--color-text-primary);
}

/*Title styles*/
.report__title {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#report__title__input {
  width: 100%;
  height: 2em;
  padding: 5px;
}

#report__title__input[type="text"] {
  font-size: 1.2em;
}

/*Description styles*/
.report__description {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.report__description textarea {
  resize: none;
}

/*Steps styles*/
.report__steps {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.report__steps__input {
  display: flex;
  justify-content: space-between;
}

.report__steps__input input {
  width: 80%;
}

.report__steps__input button {
  width: 15%;
}

.report__submit__btn {
  width: 30%;
  cursor: pointer;
  padding: 8px;
  color: var(--color-primary);
  font-weight: 600;
  background-color: var(--color-secondary);
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 5px;
}

.report__submit__btn:hover {
  background-color: var(--color-accent);
}
