.form__container {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 2em auto 0;
  align-items: center;
  border: 1px solid var(--color-text-primary);
  box-shadow: 0 8px 6px -6px black;
  border-radius: 5px;
  background-color: var(--color-primary);
}

.form__container input {
  border: 1px solid var(--color-text-primary);
}

label {
  font-weight: bolder;
  padding-top: 0.4em;
  padding-bottom: 0.4em;
  color: var(--color-text-primary);
}

/*Title styles*/
.report__title {
  display: flex;
  flex-direction: column;
  width: 80%;
}

#report__title__input {
  width: 100%;
  height: 2em;
  padding: 5px;
}

#report__title__input[type="text"] {
  font-size: 1.2em;
}

/*Description styles*/
.report__description {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.report__description textarea {
  resize: none;
}

/*Steps styles*/
.report__steps {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.report__steps__input {
  display: flex;
  justify-content: space-between;
}

.report__steps__input input {
  width: 80%;
}

.report__steps__input button {
  width: 15%;
}

.report__steps-li {
  list-style-type: "\1f4cc";
  margin-top: 1em;
}

/*Upload reports*/
.report__uploads {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin-top: 0.6em;
}

.report__uploads input {
  width: 40%;
  margin: 3px;
  border: 2px solid transparent;
}

.report__uploads input:hover {
  cursor: pointer;
  border: 2px solid var(--color-secondary);
}

.report__uploads input:target {
  border: 2px solid var(--color-secondary);
}

/*Submit button*/

.report__submit__btn {
  cursor: pointer;
  width: 30%;
  padding: 8px;
  color: var(--color-primary);
  font-weight: 600;
  outline: none;
  background-color: var(--color-secondary);
  border: 2px solid var(--color-primary);
  margin-top: 2em;
  margin-bottom: 2em;
  border-radius: 5px;
}

.report__submit__btn:hover {
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: 1px solid var(--color-secondary);
}
