.getform__container {
  height: calc(80vh - 50px);
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.getform__input {
  display: flex;
  justify-content: space-around;
}

.getform__container h3 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.8em;
  font-size: 140%;
}

.getform__container input {
  height: 2.8em;
  padding: 0.5em;
  width: 16em;
  margin-right: 2em;
}

.getform__input button {
  margin-right: 1em;
}
