.searchlist__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  min-height: calc(85vh - 50px);
  margin: 0 auto;
}

.searchlist__searchtags {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1em;
}

.searchlist__searchitems {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
