.searchbar__container {
  display: flex;
  justify-content: center;
  margin: 2em;
  width: 80%;
}

.searchbar__container h2 {
  margin-right: 0.6em;
}

.searchbar__input {
  width: 30%;
  padding: 0.6em;
  margin-right: 0.6em;
}

.searchbar__input[type="text"] {
  font-size: 1.2em;
}

.searchbar__submit-btn {
}
