/* html {
  --color-primary: #fbfbfb;
  --color-secondary: #d2282f;
  --color-text-primary: #2c2c24;
  --color-text-secondary: #9fa9ac;
  --color-accent: #63b1bc;
}

html[data-theme="dark"] {
  --color-primary: #2d3748;
  --color-secondary: #283141;
  --color-text-primary: #f7fafc;
  --color-text-secondary: #e2e8f0;
  --color-accent: #81e6d9;
} */

.modal__container {
  width: 90%;
  /* height: 90%; */
  overflow-y: auto;
  margin: 4em;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 1.2em;
}

.modal__container h2 {
  margin-bottom: 0.6em;
}

.modal__id {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.6em;
}

.modal__id label {
  margin-right: 1em;
}

.modal__id button {
  margin-left: 2em;
}

.modal__tags {
  display: flex;
  align-items: baseline;
  margin-bottom: 0.6em;
}

.modal__tags ul {
  display: flex;
}

.modal__tags li {
  margin-left: 1em;
}

.modal__main-body {
  display: flex;
  flex-direction: column;
}

.modal__main-body p {
  margin-bottom: 0.6em;
}

.modal__image-container {
  display: flex;
  flex-direction: column;
  z-index: 10;
}

.modal__image-container-images {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.modal__buttons {
  /* position: absolute; */
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  margin-left: 10%;
  /* bottom: 5px; */
}
